Function with arguments and return a Value

In [ ]:
#defining the function
def add_two_numbers(a,b):
  return a+b

In [ ]:
#call a function
add_two_numbers(3,4)

7

Function with no arguments but a return a value

In [ ]:
def add_no_input():
  a = int(input("Enter a number: "))
  b = int(input("Enter another number: "))
  return a+b

In [ ]:
  add_no_input()

Enter a number: 7
Enter another number: 9

16

In [ ]:
def get_pi():
  return 3.14

In [ ]:
get_pi()

3.14

Function with arguments but No return a value

In [ ]:
def print_message_with_name(Name):
  print(f"Hello, How Are You {Name} ")

In [ ]:
print_message_with_name('Naveen')

Hello, How Are You Naveen

Function with No arguments but No return a value

In [ ]:
def greet():
  print("Hello, Welcome to Python!")
greet()

Hello, Welcome to Python!

define a function with twi i/p first_name and last_name. full_name

In [ ]:
def full_name(first_name,last_name):
  return first_name + " " + last_name
full_name('Naveen','Kumar')

'Naveen Kumar'

In [ ]:
def add_two():
    fname = str(input("Enter your First Name: "))
    lname = str(input("Enter your Last Name: "))
    return fname + " " + lname
add_two()

Enter your First Name: Naveen
Enter your Last Name: Kumar

'Naveen Kumar'

Write a python function string is palindrome or not ?
A palindrome is a word, phrase, number, or sequence of characters that reads the same forwards and backwards.

o/p should be boolean

In [ ]:
str1 = 'madam'
str2 = 'radar'
str3 = 'Qwerty'
def check_palindrome(s):
  return s == s[ ::-2]

In [ ]:
str1 == str1[ ::-1]
check_palindrome(str1)

False

In [ ]:
str2 == str2[ ::-1]
check_palindrome(str2)

False

In [ ]:
str3 == str3[ ::-1]
check_palindrome(str3)

False

Write a function check_even_odd(n) that take an integer as input and prints whether the number is even or odd.

In [ ]:
def even_odd(n):
  if n % 2 == 0:
    print(f"{n} is an even number")
  else:
    print(f"{n} is an odd number")

In [ ]:
even_odd(8)

8 is an even number

Write a function count_vowels(s) that counts and returns the number of vowels in string.

Yahan pe vowels = "aeiou" string ka use kiya gaya hai — tuple (('a','e','i','o','u')) ya list (['a','e','i','o','u']) ke bajaye.

1. String bhi iterable object hai — matlab iske har character ko ek-ek karke loop me access kiya ja sakta hai.

"aeiou" ek iterable object hai.

Hum isme loop chala sakte hain jaise list ya tuple me chalaate hain.

| Type       | Example                 | Use Case                                       |
| ---------- | ----------------------- | ---------------------------------------------- |
| **String** | `"aeiou"`               | Simple, readable, perfect for small fixed data |
| **List**   | `['a','e','i','o','u']` | Jab aapko elements modify karne hain           |
| **Tuple**  | `('a','e','i','o','u')` | Jab fixed data chahiye (immutable)             |
| **Set**    | `{'a','e','i','o','u'}` | Jab fast membership check chahiye (large data) |

In [ ]:
def count_vowels(s):
    vowels = "aeiou"
    count = 0
    for char in s.lower():
        if char in vowels:
            count += 1
    return count

input_string = input("Enter a string: ")
print("Number of vowels:", count_vowels(input_string))

Enter a string: Naveen
Number of vowels: 3

In [ ]:
def greet_message(name, age, city):
  return f"{name} is {age} years old and lives in {city}"
greet_message(age = 23, name = 'Naveen', city = 'Hyderabad')

'Naveen is 23 years old and lives in Hyderabad'

In [ ]:
def printinfo (*arg):
  print (type(arg))
  for i in arg:
    print(i)
printinfo(1,3,32,12)

<class 'tuple'>
1
3
32
12

In [ ]:
def display_details(**kwargs):
    if "name" in kwargs:
        print(f"Name: {kwargs['name']}")
    if "age" in kwargs:
        print(f"Age: {kwargs['age']}")

display_details(name="Ekta", age=25, profession="Developer")

Name: Ekta
Age: 25

In [ ]:
def complete_details(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

complete_details(1, 2, 3, name="Ekta", city="Mumbai")

Args: (1, 2, 3)
Kwargs: {'name': 'Ekta', 'city': 'Mumbai'}

In [ ]:
def calculate_bmi (weight,height):
  return weight / (height**2)
print(calculate_bmi(60,5.7))

1.8467220683287164

In [ ]:
def order_summary(item, quantity, price):
  total =  quantity * price
  return f"Total price for {quantity} x {item}: {total}"
print(order_summary("Pizza", 2, 10))

Total price for 2 x Pizza: 20

In [ ]:
def final_price(price, discout = 10):
  fprice =price - (price* 0.10)
  return f"Final price after discount: {fprice}"
print(final_price(100))

Final price after discount: 90.0

In [ ]:
def longest_word (*words):
  return (max(words, key = len))
longest_word ("Apple","Banana","Guavava","PineApple","WaterMelon")

'WaterMelon'

In [ ]:

def multiply_all(*args):
    result = 1
    for num in args:
        result *= num
    return result

print(multiply_all(2, 3, 4))

24

In [ ]:
def create_profile(**kwargs):
    return kwargs

print(create_profile(name="Ekta", age=25, profession="Developer"))

{'name': 'Ekta', 'age': 25, 'profession': 'Developer'}

In [ ]:
def dynamic_greet(**kwargs):
  if "title" in kwargs and "name" in kwargs:
    return(f"Hello ,{kwargs['title']} {kwargs['name']}")
  elif "name" in kwargs:
    return(f"Hello,{kwargs['name']}")
  else:
     return ("Hello")

print(dynamic_greet(title = "Mr.", name = "Naveen"))

Hello ,Mr. Naveen

In [ ]:
for i in range(1,8):
  print(i)

1
2
3
4
5
6
7

In [ ]:
def factorial_iterative(n):
  if n < 0 :
    return "Invalid Number"
  result = 1
  for i in range(1, n+1):
    result *= i
  return result
print(factorial_iterative(5))

120

In [ ]:
def factorial(n):
  if n == 0 or n==1:
    return 1

  else:
    return n *factorial(n-1)
factorial(5)

120

In [ ]:
def fibonacci (n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)
print (fibonacci(7))

13

In [ ]:
x = 10      #It is global variable Because it is define outside the function
def function1():
  print("Print x inside function1 :", x)
function1()

Print x inside function1 : 10

In [ ]:
x = 10
def function_update(b):
  global x
  x = x + b
  return x
function_update(20)

30

In [ ]:
def my_function():
  y = 20
  print("y inside function:", y)
my_function()

y inside function: 20

In [ ]:
# Nested Function
def outer_function():
  z = 30 #Enclosed Variable (defined in outer function)
  def inner_function():
    print("z inside inner function:", z)
  inner_function()
outer_function()

z inside inner function: 30

# Built in Variable

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
result = len("Python")
print("Print Length Of Python: ",result)

Print Length Of Python:  6

In [1]:
def level_tracker(level):
    score = 0  # Enclosed variable for tracking score

    def update_score(points):
        nonlocal score
        score += points
        print(f"Level {level}: Score = {score}")

    return update_score

level1 = level_tracker(1)
level2 = level_tracker(2)

level1(100)  # Output: Level 1: Score = 100
level1(50)   # Output: Level 1: Score = 150
level2(200)  # Output: Level 2: Score = 200

Level 1: Score = 100
Level 1: Score = 150
Level 2: Score = 200

#Lambda

In [1]:
add = lambda a,b : a+b
add(3,6)

9

In [6]:
def fun(x,y):
  if (x>y):
    return x
  else:
    return y
print(fun(7,5))

7

In [9]:
#ternary operation
age = 18
message = "Adult" if age >= 18 else "Minor"
print(message)

Adult

#Lambda Function

In [12]:
is_adult = lambda age : "Adult" if age >= 18 else "Minor"
print(is_adult(19))

Adult

In [13]:
x = lambda a : a+10
print("sum :", x(20))

sum : 30

In [18]:
g = lambda x,y: x**y
print(g(7,3))

343

In [17]:
g = lambda x: x*x*x
print(g(3))

27

#Map Function
Map Function Syntax------>
map(function,iterable)

In [1]:
l = [5,6,7,8]

In [2]:
l*2

[5, 6, 7, 8, 5, 6, 7, 8]

In [4]:
#through error        l+2

In [5]:
#through error        l**2

In [7]:
#def square(x):
#  return x*x
#square(l)

In [10]:
map (square,l)

In [12]:
print(list(map(square,l)))

[25, 36, 49, 64]

In [13]:
print(tuple(map(square,l)))

(25, 36, 49, 64)

In [15]:
words = ['apple', 'banana','orange','kiwi']
list(map(len,words))

[5, 6, 6, 4]

Lambda with map syntax

In [20]:
list(map(lambda x: x**2,l))

[25, 36, 49, 64]

In [22]:
list1 = [1,2,3,4,10,123,22]
list(map(lambda x: x*3, list1))

[3, 6, 9, 12, 30, 369, 66]

In [23]:
numbers_list = [2,6,8,10,11,4,12,7,13,17,0,3,21]

In [25]:
list(map(lambda x: x%2, numbers_list))
add

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

#Filter Function
Filter Function Syntax -----> filter(function,iterable)

In [26]:
def is_even(num):
  return num % 2 == 0
numbers_list

[2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

In [27]:
list(map(is_even,numbers_list))

[True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False]

In [28]:
list(filter(is_even,numbers_list))

[2, 6, 8, 10, 4, 12, 0]

In [1]:
def filter_by_length(word):
  return len(word) > 5

In [2]:
words = ['apple', 'banana','orange','kiwi']

In [3]:
list(map(filter_by_length,words))

[False, True, True, False]

In [4]:
list(filter(filter_by_length,words))

['banana', 'orange']

#Lambda function with filter

In [5]:
n = [1,2,3,4,5,6,7,8,9,]
list(filter(lambda x: x>2,n))

[3, 4, 5, 6, 7, 8, 9]

In [17]:
def greater_than_two(list2):
    list3 =[]
    for i in list2:
        if i > 2:
            list3.append(i)
    return list3
print( greater_than_two((1,2,3,4)))

[3, 4]

In [22]:
list(filter(lambda x: x%2 != 0, n)) #odd

[1, 3, 5, 7, 9]

In [23]:
list(filter(lambda x: x%2 == 0, n)) #even

[2, 4, 6, 8]

In [26]:
from functools import reduce
def find_max(x,y):
  return x if x>y else y
reduce(find_max, n)

9